/*
======
Global
======
*/

/* Colors */
:root {
  --darker: #383838;
  --dark: #787878;
  --medium: #B4B4B4;
  --light: #F4F4F4;
  --white: #FFFFFF;
  --cream: #DDD1C1;
  --gold: #C0B283;
  --blacktranslucent: #50505085;
}
a {
  text-decoration: none;
  color: #383838;
}
:target {
  display: block;
  position: relative;
  top: -48px; 
  visibility: hidden;
}

img {
  width: 100%;
}
/* Fonts */

h3 {
  font-size: 24px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}


h5 {
  font-size: 20px;
  font-weight: normal;
}

p {
  font-size: 16px;
  font-weight: normal;
}


body {
  font-family: "Roboto", "Open Sans", Arial, Helvetica;
  margin: 0;
  padding: 0;
  line-height: 1em;
}


/*
======
Global
======
*/


/* logo */

.logo {
  background-color: transparent;
  height: 36px;
  width: auto;
}

/* button */
button {
  display: inline-block;
  background: var(--blacktranslucent);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.1em;
  border: none;
  padding: 1em;
  cursor: pointer;
}

button:hover {
  background-color: var(--gold);
  color: var(--white);
}

.add {
  background-color: var(--cream);
  color: var(--darker);
  font-size: 20px;
  font-weight: bold;
  border: none;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 1em;
  cursor: pointer;
  width:100%
}

.add:hover {
  background: var(--gold);
  color: var(--white);
}

/* Nav */
nav {
    background-color: var(--blacktranslucent);
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1;
    height: 48px;
}

nav img {
  display: block;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  float:left;
  background-color: transparent;
  height: 36px;
  width: auto;
  padding-left: 40px
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-right: 40px
    
  }
  

nav li {
    float: right;
  }
  
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
 nav li a:hover {
    color:var(--gold);
  }

  /* Banner */
  .banner-image {
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .banner-text {
    text-align: center;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  
  .placeholder {
    background: black;
    height:10px;
    width:100%;
  }


.section-padding {
  padding: 80px 20%;
  background: --light;
  margin: 0;

}

.grid-container-5 {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 10% 10% 10% 10% 10%;
  gap: 20px;
}
.grid-container-3 {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 28% 28% 28%;
  gap: 20px;
}

.grid-container-2 {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 45% 45%;
  gap: 20px;
}

.grid-container-5 > div, .grid-container-3 > div  {
  text-align: center;
  padding: 0;
  margin:0;
}

/*
======
Footer
======
*/
footer {
  background-color: var(--darker);
  color: var(--cream)
}


/*
======
Products
======
*/

.anchor {
  background: var(--gold);
  color: var(--white);

  font-size: 20px;
  font-weight: bold;
  border: none;
  display: inline-block;
  letter-spacing: 0.1em;
  cursor: pointer;

  line-height: 3em;
  width:100%;
  vertical-align: middle;
  text-align: center;
}

.anchor:hover {
  background-color: var(--cream);
  color: var(--darker);
}

.product-table td, th{
  padding: 0px 5em 1em 0px ;
}

.product-table td:nth-of-type(3){
  padding: 0 0em 1em 0 ;
}

.product-table tr:nth-of-type(5) td input{
  text-align: center;
  float: right;
}

.product-table tr:nth-of-type(6), tr:nth-of-type(2){
  text-align: center;
}

/*
======
Contact Us
======
*/

.form {
  background-color: white;
  padding: 3em;
}
.form-contact {
  margin-bottom: 2em;
}
input, textarea {
  background-color: var(--light);
  border: 3px solid var(--light);
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  border: 3px solid var(--medium);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  border-color: #73a580;
  border-width: 2px;
}